/* var text-decoration */
@font-face {
    font-family: myfont;
    src: url(../utilitaires/fonts/ufonts.com_tw-cen-mt.ttf);
  }


* {
    transition : all 0.8s esase;
    box-sizing: border-box;
}

body{
  font-family: myfont !important;
}

h1:hover{
  border-bottom: 1px solid brown;
  color:brown;
  /* padding: 15px; */
}