/* var text-decoration */
@font-face {
  font-family: myfont;
  src: url(../utilitaires/fonts/ufonts.com_tw-cen-mt.ttf);
}

:root {
  --color-primary: #b76b45;
  --color-white-1: #fff;
}

* {
  transition: all 0.5s ease;
}

body {
  font-family: myfont !important;
}
h1 {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

a {
  color: unset;
  outline: unset;
  text-decoration: none !important;
}

h1:hover {
  color: brown;
}

h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2.5px;
  background-color: brown;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

h1:hover::before {
  transform: scaleX(1);
}
h2 {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

h2:hover {
  color: #f9bf29;
}
h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f9bf29;
  height: 2.5px;
  opacity: 1;
  visibility: visible;
  width: 0;
  -webkit-transition: 0.4s all ease-out;
  -o-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}
h2:hover:before {
  width: calc(100% - 0px);
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.container-product-items {
  width: 25%;
  position: relative;
  background-color: #006494;
}
.thumbnails {
  width: 100%;
  position: relative;
}

.container-product-items::after {
  position: absolute;
  content: "Hot";
  padding: 5px 13px;
  border-radius: 5px;
  z-index: 2;
  font-size: 14px;
  top: 15px;
  right: 18px;
  background: linear-gradient(to right, #6a67ce, #fc636b) !important;
  color: var(--color-white);
  transition: 0.3s;
}

.container-app {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style-type: none; /* Retire les puces */
}

/* Header */

header {
  padding-top: 50px;
  padding-bottom: 220px;
}

header ul {
  margin: 0 !important;
}
.container-header {
  padding: 0 5rem;
}
.container-logo {
  width: 120px;
  height: 65px;
}
.container-logo img {
  width: 100%;
  height: 100%;
}
.text-logo {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-primary);
}
.menu-item {
  display: inline;
  position: relative;
  color: var(--color-white-1);
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.menu-item:hover {
  color: var(--color-primary);
}
.menu-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-primary);
  height: 2.5px;
  opacity: 1;
  visibility: visible;
  width: 0;
  -webkit-transition: 0.4s all ease-out;
  -o-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}
.menu-item:hover:before {
  width: 100%;
}

.number-product {
  bottom: 25px;
  font-weight: bold;
  color: var(--color-white-1);
  font-size: 9px;
  font-weight: 400;
  height: 17px;
  line-height: 17px;
  width: 26px;
  background: var(--color-primary) none repeat scroll 0 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  color: var(--color-white-1);
  font-size: 2rem !important;
}
.container-shopping-cart:hover .shopping-cart {
  color: var(--color-primary);
  cursor: pointer;
  transform: scale(0.8);
}
.container-shopping-cart:hover .number-product {
  transform: scale(1.7);
  color: var(--color-white-1);
}

/* main */

main,
footer {
  background-color: var(--color-white-1);
}
